.form-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  background: var(--foreground-color);
  border: 1px solid #dbdbdb;
  max-width: 350px;
  margin: 3rem auto;
  padding: 2rem;
}

.form-page > div > h2 {
  font-family: "Grand Hotel", cursive;
  font-size: 3rem;
}

.error {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--danger);
}

[disabled] {
  opacity: 0.4;
}

.form-page form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
}

.form-page input {
  display: block;
  background: var(--background-color);
  padding: 0.5rem;
  border: 0;
  outline: 1px solid #ccc;
  width: 100%;
}

.form-page input:focus {
  outline: 0.5px solid #333;
}

.password-box {
  position: relative;
  width: 100%;
}

.checkbox {
  position: absolute;
  top: 5px;
  right: 10px;
}

.checkbox label {
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  user-select: none;
}

.checkbox label:active {
  color: #333;
}

.checkbox input {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.form-page button {
  padding: 0.5rem 1rem;
  background: var(--primary-color);
  color: white;
  border: 0;
  cursor: pointer;
}
