.form-page {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  gap:1rem;
  background:#ccc;
  width:100%;
  max-width:300px;
  padding:0.5rem;
  margin: auto;
}

.form-page form {
  display:flex;
  flex-direction:column;
  gap:1rem;
  width:90%;
}

.form-page input {
  display:block;
  background:#eee;
  padding:0.5rem;
  border:0;
  outline:1px solid #ccc;
  width:100%;
}

.form-page input:focus {
  outline: 0.5px solid #333;
}

.password-box {
  position:relative;
  width:100%;
} 

.checkbox {
  position:absolute;
  top:5px;
  right:10px;
  cursor:pointer;
}

.checkbox input {
  visibility:hidden;
  opacity:0;
}


.form-page button {
  padding:0.5rem 1rem;
  background: skyblue;
  color:white;
  border:0;
  cursor:pointer;
}

[disabled] {
  opacity:0.4;
}
