@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap");

:root {
  --background-color: #fafafa;
  --foreground-color: #fff;
  --primary-color: #0095f6;
  --danger: #f44336;
  --warning: #ec7f11;
  --success: #6f9049;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background: var(--background-color);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

.container {
  max-width: 850px;
  min-height: 100vh;
  margin: 5rem auto;
}

.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  background: var(--foreground-color);
  padding: 0.5rem;
  max-width: 825px;
  width: 100%;
}

.header ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header li {
  display: flex;
}

.header li * {
  width: 35px;
  height: 35px;
  font-size: 1.7rem;
  color: black;
}

.header li img {
  border-radius: 100%;
}

.header li label {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: none;
  border: 2px solid black;
  border-radius: 0.3rem;
  cursor: pointer;
}

.header li label p {
  pointer-events: none;
}

.header li input {
  display: none;
}
